* {
  box-sizing: border-box;
}

.container {
  margin-left: 40%;
  width: 300px;
  justify-content: center;
  background-color: lightblue;
}

body {
  text-align: center;
  font-family: Inter;
  font-style: normal;
}

h2 {
  color: #2B283A;

}

/*Info Component */

img {
  height: 317px;
  width: 317px;
}

.info--header {
  color: #2B283A;
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
}

.info--header3 {
  color: #F47D27;
  font-size: 12.8px;
  font-weight: 400;
  line-height: normal;
}

.info--a {
  color: #4A4E74;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 150%;
  /* 15.36px */
}

button {
  margin: 17px;
  width: 115px;
  justify-content: center;
  gap: 8px;
  padding: 9px 13px 9px 11px;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.button--linkedin {
  background-color: #297FE5;
  color: #FFF;

}

.button--email {
  background-color: #FFF;
}

/* About Component */

.main--about {

  text-align: left;
  margin-left: 35px;
  width: 250px;
}